{% extends "nav.html" %}


{% block main %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Личный кабинет</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Поделиться</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Эта неделя
          </button>
        </div>
      </div>


      <h2>Код для смены владельца</h2>
        <h2>{{code.code}}</h2>

     <h2>Код для обслуживания</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Модель</th>
              <th scope="col">Код</th>
            </tr>
          </thead>
          <tbody>

              {% for car in cars%}
              <tr>
                  <td>{{loop.index}}</td>
                  <td><a href="car/{{car.id}}">{{car.get_name()}}</a></td>
                  <td>{{codes[loop.index-1].code}}</td>
              </tr>
              {% endfor %}




          </tbody>
        </table>
      </div>





{% endblock %}