{% extends "nav.html" %}


{% block main %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Личный кабинет</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Поделиться</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Эта неделя
          </button>
        </div>
      </div>



     <h2>Настройка системы рекомендаций к автомобилю {{ car.get_name() }}</h2>



   <form method="post">
       <div class="row">
                <div class="col">
                    <b>Наименование</b>
                </div>
                <div class="col">
                    <b>Пробег</b>
                </div>

            </div><hr>


       {%for k, v in data.items()%}
            <div class="row">
                <div class="col">
                        {{k}}
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="{{ v[0] }}" name="{{v[1]}}">
                </div>
            </div>
       {% endfor %}

       <input class="btn btn-primary" type="submit" value="Отправить">
</form>


{% endblock %}